@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 30, 30, 30;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Mobile optimizations */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
